
<div class="card"> 
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Sub Ward : {{this.dashboardService.enquire?.sub_ward.name}}</li>
          <li class="list-group-item">Ward : {{this.dashboardService.enquire?.sub_ward.ward.name}}</li>
          <li class="list-group-item">Name : {{this.dashboardService.enquire?.name}}</li>
          <li class="list-group-item">Title : {{this.dashboardService.enquire?.title}}</li>
          <li class="list-group-item">Adddress : {{this.dashboardService.enquire?.address}}</li>
          <li class="list-group-item">Description : {{this.dashboardService.enquire?.description}}</li>
          <li class="list-group-item">Mobile Number : {{this.dashboardService.enquire?.mobilenumber}}</li>
          <li class="list-group-item">status : {{this.dashboardService.enquire?.status}}</li>
        </ul>
      </div>
