<div class="row">
  <div class="col-lg-4"></div>

  <div class="col-lg-4">
    <div class="card bg-light text-center card-form">
      <div class="card-body">
        <h3>Login Page</h3>
        <form>
          <h3 class="bg-danger">{{errormessage}}</h3>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Username"
              [(ngModel)]="username"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              [(ngModel)]="password"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <input
            type="submit"
            value="submit"
            class="btn btn-outline-primary btn-block"
            (click)="login()"
          />
          <hr>
          <button 
          type="button" 
          class="btn btn-outline-primary form-control form-control-lg"  
          data-bs-toggle="modal" 
          data-bs-target="#staticBackdrop"
          >
            Register
          </button>

        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registration Page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h3 class="bg-danger">{{errormessage}}</h3>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Firstname"
              [(ngModel)]="firstname"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Lastname"
            [(ngModel)]="lastname"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="MobileNumber"
              [(ngModel)]="mobilenumber"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              [(ngModel)]="password"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="ConfirmPassword"
              [(ngModel)]="confirmpassword"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
      </div>
    </div>
  </div>
</div>
