<div class="row">
  <div class="col-lg-4"></div>

  <div class="col-lg-4">
    <div class="card bg-light text-center card-form">
      <div class="card-body">
        <h3>Login Page</h3>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Username"
              [(ngModel)]="username"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              [(ngModel)]="password"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <input
            type="submit"
            value="submit"
            class="btn btn-outline-primary btn-block"
            (click)="login()"
          />
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4"></div>
</div>
